.blog-post header h1 {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
    font-size: var(--fontSize-2);
    font-family: var(--font-heading);
}
