.header-link-home {
    font-weight: var(--fontWeight-bold);
    font-family: var(--font-heading);
    text-decoration: none;
    font-size: var(--fontSize-2);
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 10px;
}
