.post-list-item {
    margin-bottom: var(--spacing-8);
    margin-top: var(--spacing-8);
}

.post-list-item p {
    margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
    font-size: var(--fontSize-4);
    color: var(--color-text);
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-4);
}

.post-list-item header {
    margin-bottom: var(--spacing-4);
}

.post-content {
    display: flex;
}

.post-metadata {
    min-width: 180px;
}

@media screen and (max-width: 400px) {
   
    .post-content {
        flex-direction: column;
    }

    .post-metadata {
        margin-bottom: var(--spacing-2);
    }
    
}